*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {all: unset;  display: revert;}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 16px;
}
/*header*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    max-width: 1200px;
    margin-inline: auto;
    height: 80px;
    text-transform: uppercase;
}

/*ul del header*/
.header ul{
    display: flex;
    
}

/*todas las listas*/
li{ list-style: none;
}
/*primer section */
.new{
    position: relative;
    background-color: black;
    max-width: 1100px;
    margin-inline: auto;
    display: flex;
    gap: 30px;
    color: white;
}
 
.new h2{
    font-size: 1.63em;
    margin-bottom: 25px;
}
.new time{
    font-size: 10px;
}
.new > article {
    width: 90%;
}
/* los hover del aside lateral */
.stars :hover{
    color: gray;
    cursor: pointer;
}
.Coachella :hover{
    color: grey;
    cursor: pointer;
}
.Titanic :hover{
    color: gray;
    cursor: pointer;
}

.header svg{
    width: 20px;
    height: 20px;
    fill: white;
}
.header .main-menu ul,/*Menu principal*/
.header .tools-menu,/*Menu herramientas*/
.header .tools-menu ul /*redes sociales*/{
    display: flex;
    align-items: center;
    gap: 40px;
}

.bg-main{
    background-color: black;
 }

img{
    max-width: 100%;
    height: auto;
}
.new aside article{
    display: flex;
    gap: 25px;
    margin-bottom: 25px;
}
.new aside article:last-child {
    margin-bottom: 0;
}
/* titulo de pie de foto de la imagen principal */
.news-data{ 
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 590px;
    margin-bottom: 0px;
    background-color: black;
    height: 250px;   
}
.news-data h2{
    margin: 20px;
    font-size: 30px ;
}
.news-data p{
    margin: 20px;
    font-size: 16px;
    letter-spacing: -0,03px;
    font-family: sans-serif;
}
.news-data a{
     margin: 20px;
     font-size: 10px;
}

.new > article img {
    height: 600px;
}

/* 17/12/2023*/

.barra-trailer ul{ /*barra del menu del eslaider*/
   display: flex;
    gap: 20px;
    background-color:black;
    color: white;
    padding: 120px;
    padding-left: 16%; 

}
.barra-trailer ul a{
    font-size: 12px;
}
.fondo-eslaider{
    background-color: #abb8c3;   ;
}
.eslaider{
    display: flex;
    max-width: 999px;       
    gap: 20px;
     
}
.eslaider img{
    margin-top: -50px;
    padding-left: 170px;
    position: relative;
}
.eslaider-portada{   
    position: absolute;
    margin-top: -55px;
   margin-left: 170px;
   color: white;
   text-align: center;
   padding-left: 25px;
}


.eslaider-portada a{
          font-size: 10px;
          color: gray;
          cursor: pointer;
              
}
.eslaider :hover {
    color: grey;
    cursor: pointer;
}

.eslaider :hover a{
    cursor: pointer;
   color: white;
}