
html{
     font-family:  Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}
 body{
   background-image: linear-gradient(#266c78, #f0fbfa);
 }

 h1{
   font-size: 25px;
 }
 .grid{
    display: grid;
    grid-template-columns: repeat(4, 100 px);
    grid-template-rows: repeat(4, 100 px);
    justify-content: center;
    left: 50%;
   
    
 }
 .grid-imagen-portada {
    background-image: url(https://img.freepik.com/foto-gratis/concepto-collage-html-css_23-2150061955.jpg?w=996&t=st=1705871993~exp=1705872593~hmac=90969331b9cb492e92dc7d51ea544f554a5481b42e78af632a3691a89cbb5662);
     object-fit: cover;
     /*background-size: cover;*/
     background-repeat: no-repeat;
     height: 300px;
     width:890px;
     grid-column-start:1;
     grid-column-end: 3;
     grid-row-start: 1;
     grid-row-end: 3;  
    background-position: center;
    box-shadow: 1px 1px 10px black ;
     margin-top: 3%;
   border-radius: 10%;

     img{
      position: absolute;
      width: 150px;
      height: 300px;
      object-fit: cover;
      box-shadow: 1px 1px 10px black; 
      margin-top: 0px;
      margin-left: -5px;
     }

     
    /*_____descripcion sobre mi y la imagen mia _______*/
 }
 
  .imagen-lateral{
   position: absolute;
   object-fit: cover;
   
  }
 .mi-imagen img{
    width: 220px;
    height:220px;
    border-radius: 50%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
    
 }
 hr{ margin-top: 4%;
    background-color: black;
    max-width: 444px;
    
 }
 .descripcion-de-mi{
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 /*_____________lateral de la izquierda con las imagenes de linkedin y codespace_____________*/

 /*tamallo de la fuente del h5*/
 h5{
   font-size: 15.5px;
 }
 fieldset{
  border-radius: 7%;
  box-shadow: 10px 10px 10px black;
  background-image: url(https://img.freepik.com/foto-gratis/papel-monocromatico-vista-superior_23-2149062051.jpg?size=626&ext=jpg&ga=GA1.2.1742404882.1701971700&semt=ais);
  background-size: cover;
  font-family:  'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: relative;
  font-style: initial;
 }
 .imagenes-laterales{
    width: 200px;
    height: 200px;
    order: -1;
    
     }
   
    /*__tamallo de las imagenes codespace y linkeding___*/
    img{
    width: 70px;
    height: 70px;
    margin: 10px;
    object-fit: cover;
    box-shadow: 10px 10px 10px black;
    border-radius: 20px;
    
    }
    p{
      font-size: 12px;
      margin-bottom:20px ;
    }
 
 
/*_____tamallo de la fuente del enclace de codespace_____*/
 .logocode-space{
   font-size: 13px;
 }
 /*logo linkedin y texto*/
 .logo-linkendin { 
    margin-top: 5%;
    margin-bottom: 10%;

    a{  margin-bottom: 0;
      position: relative;
      
    }

 }
 /*_____________cuadrado de la derecha aptitudes____________*/

.lateral-derecha{
   width: 200px;
   height: 200px;

}

 li{
   font-size: 12px;
}
 
 .aprendizaje{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

 }
 /*_____________________________footer______________________*/

 footer{background-image: linear-gradient(#288592, #b8d9db);
   border: solid 2px#133139;
   
}
 .iconos{
    display: flex;
    margin-top: 2%;
    margin-bottom: 2%;
    justify-content: center;
    
    img{
        width: 100px ;
        height:100px ;
        margin: 1px 20px 1px 20px;
    }
 }
 /*imangen con trasnciones de colores*/
 .spinner {
   background-image: linear-gradient(rgb(186, 66, 255) 35%,rgb(0, 225, 255));
   width: 100px;
   height: 100px;
   animation: spinning82341 1.7s linear infinite;
   text-align: center;
   border-radius: 50px;
   filter: blur(1px);
   box-shadow: 0px -5px 20px 0px rgb(186, 66, 255), 0px 5px 20px 0px rgb(0, 225, 255);
   margin-left: 47%;
   margin-top: 3%   
 }
 
 .spinner1 {
   background-color: rgb(36, 36, 36);
   width: 100px;
   height: 100px;
   border-radius: 50px;
   filter: blur(10px);
   
 }
 
 @keyframes spinning82341 {
   to {
     transform: rotate(360deg);
   }
 }

/*Media Queries de  footer*/
@media (max-width:1400px) {
   .iconos img{  
      width: 50px;
      height: 50px;
      margin: 7px;
   }
   
   }
   
/*Media Queries del bloque de aptitudes*/
   @media (max-width:700px){
      .lateral-derecha{
         display: contents;
         
      }
   }
 /*Media Queries del bloque de aptitudes*/
 @media (max-width:1400px){
   
 }
/* Animacion de la pelota sobre la linea blanca*/
 .loader {
   position: relative;
   width: 120px;
   height: 90px;
   margin: 0 auto;
 }
 
 .loader:before {
   content: "";
   position: absolute;
   bottom: 30px;
   left: 50px;
   height: 30px;
   width: 30px;
   border-radius: 50%;
   background: #2a9d8f;
   animation: loading-bounce 0.5s ease-in-out infinite alternate;
 }
 
 .loader:after {
   content: "";
   position: absolute;
   right: 0;
   top: 0;
   height: 7px;
   width: 45px;
   border-radius: 4px;
   box-shadow: 0 5px 0 #f2f2f2, -35px 50px 0 #f2f2f2, -70px 95px 0 #f2f2f2;
   animation: loading-step 1s ease-in-out infinite;
 }
 
 @keyframes loading-bounce {
   0% {
     transform: scale(1, 0.7);
   }
 
   40% {
     transform: scale(0.8, 1.2);
   }
 
   60% {
     transform: scale(1, 1);
   }
 
   100% {
     bottom: 140px;
   }
 }
 
 @keyframes loading-step {
   0% {
     box-shadow: 0 10px 0 rgba(0, 0, 0, 0),
             0 10px 0 #f2f2f2,
             -35px 50px 0 #f2f2f2,
             -70px 90px 0 #f2f2f2;
   }
 
   100% {
     box-shadow: 0 10px 0 #f2f2f2,
             -35px 50px 0 #f2f2f2,
             -70px 90px 0 #f2f2f2,
             -70px 90px 0 rgba(0, 0, 0, 0);
   }
 }